.page_not_found {
    margin: 0 auto;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page_not_found h3 {
    font-size: 10em;
}

.page_not_found p {
    font-size: 5em;
}

@media (max-width: 400px) {
    .page_not_found h3 {
        font-size: 5em;
    }

    .page_not_found p {
        font-size: 2.5em;
    }
}